.card
  .card-header.d-flex.align-items-center
    %span Listing Categories
    %span.ms-1 (There are #{@categories.size} categories.)
    = link_to 'New Category', new_category_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Code
        %th Name
        %th Active
        %th Tags
        %th
    %tbody
      - @categories.each do |category|
        %tr
          %td= category.code
          %td= category.name
          %td= category.active ? 'Yes' : 'No'
          %td= category.tags.map(&:name).join(', ')
          %td
            .btn-toolbar.float-end
              = link_to 'Edit', edit_category_path(category), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'
