!!!
%html{ lang: 'en-GB' }
  %head
    %title Project

    %meta{ :'http-equiv' => "content-type", content: "text/html; charset=utf-8" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no" }

    - if content_for(:description)
      %meta{ content: content_for(:description), name: 'description' }

    %title= ["Project", content_for(:title)].compact.join(' - ')

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'styles', media: 'all'
    = javascript_pack_tag 'application'

  %body
    %header.navbar.navbar-expand-lg.bg-light

      .container-fluid
        = link_to '/', class: 'navbar-brand' do
          Our System
        %button.navbar-toggler{ type: :button, data: { bs_toggle: :collapse, bs_target: '#navbar-content' }, aria: { controls: 'navbar-content', expanded: 'false', label: 'Toggle navigation' } }
          %span.navbar-toggler-icon
        #navbar-content.navbar-collapse.collapse
          %nav.navbar-nav
            - if current_user&.is_staff?
              .nav-item
                = link_to 'Google Mail', 'https://mail.google.com/', class: 'nav-link'
              .nav-item
                = link_to notifications_path, class: 'nav-link' do
                  Notifications
              .nav-item
                = link_to staff_statistics_path, class: 'nav-link' do
                  Statistics
            - else
              .nav-item
                = link_to 'Google Mail', 'https://mail.google.com/', class: 'nav-link'
              .nav-item
                = link_to notifications_path, class: 'nav-link' do
                  Notifications
              .nav-item
                = link_to myapplications_path, class: 'nav-link' do
                  My Applications
              .nav-item
                = link_to updateprofiles_path, class: 'nav-link' do
                  Update Profile
              .nav-item
                = link_to new_mock_interview_path, class: 'nav-link' do
                  Mock Interview

        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger'




    - if flash.present?
      .container-fluid.flash-messages
        - flash.each do |message_type, message|
          - next unless message_type == 'alert' || message_type == 'notice'
          .alert{ class: "alert-#{ message_type == 'notice' ? 'success' : 'danger' }" }= message

    %main
      .container-fluid
        = yield

    -# %footer
    -#   .container-fluid
    -#     .d-flex.p-3
    -#       Footer text
